{
  "swagger" : "2.0",
  "info" : {
    "description" : "Look up Malicious URI in Cyber Tactical Database",
    "version" : "1.0.0",
    "title" : "Cyber Tactical Database API",
    "termsOfService" : "",
    "contact" : {
      "url" : "https://github.com/activedefense/adctd-api-spec",
      "email" : "ctd@activedefense.co.jp"
    },
    "license" : {
      "name" : "Commercial",
      "url" : ""
    }
  },
  "host" : "api.ctd.activedefense.co.jp",
  "basePath" : "/api/v1",
  "schemes" : [ "http", "https" ],
  "consumes" : [ "application/json" ],
  "produces" : [ "application/json" ],
  "paths" : {
    "/malicious/uri/{id}" : {
      "get" : {
        "tags" : [ "MaliciousUri" ],
        "summary" : "Detail of Malicious Entry URI",
        "description" : "null",
        "operationId" : "GetMaliciousURIById",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Malicious Entry URI id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "Malicious Entry URI",
            "schema" : {
              "$ref" : "#/definitions/MaliciousUri"
            }
          }
        }
      }
    },
    "/malicious/uri/type/ek" : {
      "get" : {
        "tags" : [ "MaliciousUri" ],
        "summary" : "List of Malicious Entry URI (Exploit Kit) in Cyber Tactical Database",
        "description" : "Return list of Malicious Entry URI (Exploit Kit) in Cyber Tactical Database",
        "operationId" : "GetMaliciousURIofEK",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/MaliciousUri"
              }
            }
          }
        }
      }
    },
    "/malicious/uri/type/malware" : {
      "get" : {
        "tags" : [ "MaliciousUri" ],
        "summary" : "List of Malicious Entry URI (Malware Download URI) in Cyber Tactical Database",
        "description" : "Return list of Malicious Entry URI (Malware Download URI) in Cyber Tactical Database",
        "operationId" : "get_mal_uri_dl_malware",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/MaliciousUri"
              }
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "MaliciousUri" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "format" : "uuid",
          "description" : "Unique id of ADCTD"
        },
        "type" : {
          "type" : "string",
          "description" : "type of Indicator"
        },
        "is_infected" : {
          "type" : "boolean",
          "description" : "estimate source subject infection status before uri access"
        },
        "url" : {
          "type" : "string",
          "format" : "uri",
          "description" : "Malicious URL"
        },
        "domain" : {
          "type" : "string",
          "format" : "hostname",
          "description" : "Malicious resource contained domain"
        },
        "ip" : {
          "type" : "string",
          "format" : "ipv4",
          "description" : "Malicious resource containted IP address"
        },
        "description" : {
          "type" : "string",
          "description" : "Campaign, Tool Kit, or Species if indentified"
        },
        "malicious_rate" : {
          "type" : "integer",
          "description" : "Malicious rate, 10 is perfectly"
        },
        "created_at" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "created datetime of this entry"
        },
        "updated_at" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "updated datetime of this entry"
        },
        "expire_at" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "expire datetime of this entry"
        }
      }
    }
  }
}